$font-stack: 'Rubik', sans-serif;
$light-color: rgba(0,0,0,.55);

// Базовая настройка
body {
    font-family: $font-stack;
}

header {
    margin-bottom: 75px;
}

.block {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;

}

.sticky {
    position: sticky;
    top: 75px;
}

// Header
.avatar {
    img{
        // border: 1px solid $light-color;
    }
}

// Навигация слева
.left-navigation {
    select {
        margin-bottom: 10px;
    }
}

// Олимпиады
.card-olymp {
    border-radius: 8px;
    background-color: rgb(215, 227, 243);
    &.favourite {
        background-color: rgb(243, 228, 215);
        
    }
}

form {
    margin-bottom: 15px;
}


// Регистрация
.container-register {
    width: 40%;
    margin: 0 auto;
}
