$font-stack: 'Rubik', sans-serif;
$light-color: rgba(0,0,0,.55);

// Базовая настройка
body {
    font-family: $font-stack;
    margin-bottom: 160px;
}

header {
    margin-bottom: 75px;
}

.block {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;

}

.sticky {
    position: sticky;
    top: 75px;
}


.col-2 {
    width: 20%;
}

li {
    list-style-type: none;
}

.ml-5 {
    margin-left: 5px;
}

.ml-30 {
    margin-left: 30px;
}

// Header
.avatar {
    img{
        // border: 1px solid $light-color;
    }
}

// Навигация слева
.left-navigation {
    select {
        margin-bottom: 10px;
    }
}

// Олимпиады
.card-olymp {
    border-radius: 8px;
    background-color: rgb(215, 227, 243);
    &.favourite {
        background-color: rgb(243, 228, 215);
        
    }
}

.olympiad-container {
    width: 900px;
    margin: 0 auto;
}

.fw-450 {
    font-weight: 450;
}

.card-body-stages {
    padding: 15px;
}

form {
    margin-bottom: 15px;
}

// Олимпиада отдельно
.stages {
    color: #343a40;
}

.invalid-feedback {
    margin-top: -.25rem;
}

.accordion-button:after {
    display: none;
}

// Пагинация 
.pagination {
    
}

// Поиск



.ui-menu {
    margin: 0;
    padding: 0;
    border-radius: 15px;
    width: 50%;
    background-color: #fff;
    &-item {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        color: #262626;
        list-style-type: none;
        margin: 0;
        padding: .5rem 1rem;
        &:hover {
            background-color: rgb(240, 239, 239);
        }
    }

    a {
        color: #262626;

    }
}

.subjects-select {

    
    option {
        text: purple;
        }
        // @extend .ui-menu;
        // @extend .ui-menu-item;

}




// Регистрация
.container-register {
    width: 40%;
    margin: 0 auto;
}
