{% extends 'base.html' %}



{% block content %}
<div class="container">
    <main>
        <div class="row">
            <div class="col-2 fixed">
                <div class="block shadow-4 left-navigation sticky">
                    <form action="" method="post" onsubmit="submitForm()" novalidate>
                        <div>
                            {{ form.csrf_token }}
                        </div>
                        <!-- <div class="dropdown">
                            <button
                                class="btn btn-primary dropdown-toggle w-100"
                                type="button"
                                id="dropdownMenuButton"
                                data-mdb-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Выбрать предмет
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/subjects/all">Все предметы</a></li>
                                {% for sub in subjects %}
                                    <li><a class="dropdown-item" href="/subjects/{{ sub }}">{{ sub }}</a></li>
                                {% endfor %}
        
                            </ul>

                        </div> -->
                        <p>

                            {{ form.subject(class='form-select subjects-select', id='subjectID')}}


                        </p>
                        <p>
                            {{ form.school_class(class='form-select', id='schoolClassID')}}
                        </p>

                        <p>
                            {{ form.title(class='form-control rounded select-input', id='search_olympiad', type='text') }}
                            <!-- <div class="input-group rounded">
                                <input type="search" class="form-control rounded" placeholder="Название" aria-label="search" aria-describedby="search-addon" />
        
                            </div> -->
                        </p>

                        <p>
                            <button class="btn btn-primary w-100" type="submit">Искать</button>
                        </p>
                        
                    </form>
                </div>

            </div>
            {% block main_content %}{% endblock %}

        </div>
    </div>
        
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
          var item = localStorage.getItem('subjectID');
          var select = document.getElementById("subjectID");
          if (item !== null) {
            select.value = item;
          }

          var item = localStorage.getItem('schoolClassID');
          var select = document.getElementById("schoolClassID");
          if (item !== null) {
            select.value = item;
          }

      });
      function submitForm(){
          var select = document.getElementById("subjectID");
          var value = select.options[select.selectedIndex].value;
          localStorage.setItem('subjectID', value);

          var select = document.getElementById("schoolClassID");
          var value = select.options[select.selectedIndex].value;
          localStorage.setItem('schoolClassID', value);
      }
      </script>

    <script>
        $( function() {
          var availableTags = [
              {% for olymp in olympiads %}
                  "{{olymp.title}}",
              {% endfor %}
          ];
          var results = $( "#search_olympiad" ).autocomplete({
            source: availableTags, minLength: 5
          });
          response(results.slice(0, 10));
        } );
    </script>
</div>

{% endblock %}
