{% extends "base_main.html" %}

{% block main_content %}
            
    <div class="col main-content">
      <div class="pagination">
        {{ pagination.links }}
      </div>
      {% if current_user.is_authenticated %}
      {% if current_user.email in admins %}
      <form method="post" action="">
        <input type="submit" name="submit_button" class="btn btn-warning" value="Добавить олимпиаду">
      </form>
      {% endif %}
      {% endif %}

        {% for olymp in olympiads %}
            <div class="card mb-2">
                {% if favourite %}
                    <div class="card-body card-olymp favourite">
                        <h6 class="card-subtitle mb-1 text-muted">{{ (olymp.subjects | map(attribute='name')) | join(', ') }} | {{ [olymp.school_classes[0], olymp.school_classes[-1]] | map(attribute='number') | join('-')}} класс</h6>
                        <a href='/olympiad/{{ olymp.id }}' class="card-title">{{ olymp.title }}</a>
                    </div>
                {% else %}
                    <div class="card-body card-olymp">
                        <h6 class="card-subtitle mb-1 text-muted">{{ (olymp.subjects | map(attribute='name')) | join(', ') }} | {{ [olymp.school_classes[0], olymp.school_classes[-1]] | map(attribute='number') | join('-')}} класс</h6>
                        <a href='/olympiad/{{ olymp.id }}' class="card-title">{{ olymp.title }}</a>
                    </div>
                {% endif %}
            </div>

        {% endfor %}
        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav> -->
        {% set len_olymps = olympiads | length%}
        {% if not len_olymps: %}
            <div class="alert alert-info" role="alert">
                Ни одной олимпиады не нашлось(
            </div>

        {% endif %}
        <div class="pagination mt-1">
          {{ pagination.links }}
        </div>

    </div> 
  
        

{% endblock %}