{% extends 'base.html' %}

{% block content %}

<div class="container olympiad-container">
    {% set ns = namespace(nearest_stage=None) %}
    {% for stage in stages[::-1] %}
        {% if stage.date >= datetime.now().date() %}

            {% set ns.nearest_stage = stage %}

        {% endif %}
    {% endfor %}
    {% if ns.nearest_stage.date %}
        Ближайший этап будет через дней: {{ (ns.nearest_stage.date - datetime.now().date()).days }}
    {% endif %}
    <div class="row align-items-start justify-content-start">
        <div class="col">
            {% set time_tooltip = (olympiad.stages[0].date - datetime.now().date()).days %}
            {% if time_tooltip < 0 %}
            <div class="alert alert-danger" role="alert">
                Олимпиада завершена!
            </div>
            {% endif %}
        </div>

    </div>
    
    <div class="row align-items-start justify-content-start">
        <!-- <div class="col">
            <div class="card mb-2">
                <div class="card-body card-olymp">
            
                    <h6 class="card-subtitle mb-1 text-muted card-header">{{ (olympiad.subjects | map(attribute='name')) | join(', ') }} | {{ [olympiad.school_classes[0], olympiad.school_classes[-1]] | map(attribute='number') | join('-')}} класс</h6>
                    <a href='/olympiad/{{ olympiad.id }}' class="card-title">{{ olympiad.title }}</a>
                    <p class="card-text">{{ olympiad.description}}</p>
                </div>
            </div>

        </div> -->
        <div class="col">
            <div class="card border border-info shadow-0 mb-3 w-100">
                <div class="card-header">{{ (olympiad.subjects | map(attribute='name')) | join(', ') }} | {{ [olympiad.school_classes[0], olympiad.school_classes[-1]] | map(attribute='number') | join('-')}} класс</div>
                <div class="card-body">
                  <h5 class="card-title">{{ olympiad.title }}</h5>
                  <a href="{{ olympiad.link }}" class="card-text" target="_blank">Оффициальная ссылка</a>
                </div>
              </div>
        </div>
        {% if stages[0] %}
        <div class="col">
            <div class="card border border-success shadow-0 mb-3 w-100">
                <div class="card-header">Этапы</div>
                <div class="card-body card-body-stages">
                    <ol class="list-group list-group-numbered">
                        {% for stage in stages %}

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                              <button
                                class="accordion-button"
                                type="button"
                                data-mdb-toggle="collapse"
                                data-mdb-target="#flush-collapse{{loop.index}}"
                                aria-expanded="false"
                                aria-controls="flush-collapse{{loop.index}}"
                                
                              >
                                <div class="ms-2 me-auto">
                                    <a href="" class="fw-450 stages">{{stage.name}}</a> 
                                    {% if stage.description != None%}
                                    {{ stage.description }}
                                    {% endif %}
                                </div>
                                {% set time_tooltip = (stage.date - datetime.now().date()).days %}
                                {% if time_tooltip < 0 %}
                                {% set time_tooltip = 'Этап завершен' %}
                                {% else %}
                                {% set time_tooltip = 'Осталось дней: ' ~ time_tooltip ~ '' %}
                                {% endif %}
        
                                <p class="badge bg-primary rounded-pill fw-normal m-0" data-mdb-toggle="tooltip" title="{{time_tooltip}}">{{ stage.date }}</p>
                              </button>
                            </h2>
                            <div
                            id="flush-collapse{{loop.index}}"
                            class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne"
                            data-mdb-parent="#accordionFlushExample"
                            >  
                            {% if current_user.email in admins %}
                              <div class="accordion-body d-flex">
                                <a href="/admin/stages/edit/?id={{stage.id}}&url=%2Fadmin%2Fstages%2F" class="btn btn-warning">Редактировать</a>
                                <a href="/olympiad/{{olympiad.id}}/delete-stage/{{stage.id}}" class="btn btn-danger ml-5">Удалить</a>
                                

                              </div>
                            {% endif %}
                            </div>
                        </div>

                        
                        {% endfor %}
                        <form method="post" action="">
                            <input href="" type="submit" name="submit_button" class="btn btn-success w-100" value="Добавить">

                        </form>
                    </ol>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if olympiad.description %}
    <div class="row justify-content-center">
        <div class="col text-center">
            <div class="card border border-warning shadow-0 mb-3 w-100">
                <div class="card-header">История и описание</div>
                <div class="card-body">
                  <p class="card-text">{{ olympiad.description}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <!-- {% if current_user.email in admins %}

    <form action="/process_data/1/" method="POST">
        <input type="submit" class="btn btn-warning" value="Изменить">

    </form>

    <form action="/process_data/2/" method="POST">
        <input type="submit" class="btn btn-danger" value="Удалить">

    </form>

    {% endif %} -->

    {% if current_user.is_authenticated %}
        {% if olympiad.id in favourites %}
            <form method="post" action="">
                <input type="submit" name="submit_button" class="btn btn-warning" value="Удалить из избранных">
            </form>
            {% else %}
            <form method="post" action="">
                <input type="submit" name="submit_button" class="btn btn-warning" value="Добавить в избранные">
            </form>
        {% endif %}
        {% if current_user.email in admins %}
            <a href="http://127.0.0.1:5000/admin/olympiads/edit/?id={{olympiad.id}}&url=%2Fadmin%2Folympiads%2F" class="btn btn-warning">Редактировать олимпиаду</a>
        {% endif %}
    {% endif %}
</div>




{% endblock %}